{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
{% include "flash.html" %}
<div class="push"></div>
<!-- <div class="container">
    <div class="row vertical-align">
        <div>
            <h3 class="float-left">Commands</h3>
        </div>
    </div>
    {% for command in current_user.streamer.commands %}
    <div class="row">
        <div class="col-lg-1 col-md-2">
            <a class="float-left pl-lg-3 pl-md-4" href="#">
                <span class="fas fa-edit"></span>
            </a>
            <a class="float-left pl-lg-3 pl-md-4 " href="#">
                <span class="fas fa-trash"></span>
            </a>
        </div>
        <div>
            <p class="text-left">{{ command.name }} -- {{ command.output }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <a href="#">Add New Command</a>
        </div>
    </div>
</div>
<div class="push"></div> -->
<div class="container">
    <div class="row vertical-align">
        <div>
            <h3 class="float-left">Guessables</h3>
        </div>
    </div>
    {% for guessable in current_user.guessables %}
    <div class="row">
        <div class="col-lg-1 col-md-2">
            <a class="float-left pl-lg-3 pl-md-4" href="#">
                <span class="fas fa-edit"></span>
            </a>
            <a class="float-left pl-lg-3 pl-md-4 " href="#">
                <span class="fas fa-trash"></span>
            </a>
        </div>
        <div>
            <p class="text-left">{{ guessable.name }} &mdash; [{{ ' '.join(guessable.codes) }}]</p>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <a href="{{ url_for('guessable.add') }}">Add New Guessable</a>
        </div>
    </div>
</div>
<div class="push"></div>
<div class="container">
    <div class="row vertical-align">
        <div>
            <h3 class="float-left">Modes</h3>
        </div>
    </div>
    {% for mode in current_user.streamer.modes %}
    <div class="row">
        <div class="col-lg-1 col-md-2">
            <a class="float-left pl-lg-3 pl-md-4" href="#">
                <span class="fas fa-edit"></span>
            </a>
            <a class="float-left pl-lg-3 pl-md-4 " href="#">
                <span class="fas fa-trash"></span>
            </a>
        </div>
        <div>
            <p class="text-left">{{ mode.name }} -- {{ mode.guessables }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <a href="#">Add New Mode</a>
        </div>
    </div>
</div>
{% endblock %}
