{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% include "flash.html" %}
<div class="jumbotron">
    <h1 class="display-4 d-inline-block">Guessing Game</h1>
    <span class="badge badge-pill badge-info align-top">BETA</span>
    <p class="lead">A bot for playing guessing games in Twitch chat!</h2>
    <hr class="my-4">
    <p>
        You can choose to use this hosted solution or run your own version of the bot by downloading
        the source code from GitHub.
    </p>
    <p class="lead">
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('home.dashboard') }}" role="button">Launch</a>
        {% else %}
        <a class="btn btn-twitch-purple btn-lg" href="{{ url_for('twitch.start_authorize') }}" role="button">Login with Twitch</a>
        {% endif %}
        <a class="btn btn-primary btn-lg" href="https://github.com/flagrama/guessing-bot" role="button">Download</a>
    </p>
</div>
{% endblock %}
