.list-inline { float: left; }
.btn-twitch-purple {
    border-color: #6441a4;
    color: #6441a4;
}

.btn-twitch-purple:hover {
    background-color: #6441a4;
    border-color: #6441a4;
    color: #ffffff;
}

.push {
    clear: both;
    height: 4em;
}

.vertical-align {
    display: flex;
    align-items: center;
}
